/* content.css */
body{
    background-color: whitesmoke;
}
.content {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.textarea-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.text-box {
    flex: 1;
    min-width: 300px;
    box-shadow: rgba(49, 49, 49, 0.2) 0 15px 30px -5px;
}

.stuff {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 300px;

}

.stuff > * {
    flex: 1 0 45%;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.stuff input[type="checkbox"] {
    margin-right: 5px;
    width: 16px; 
    height: 16px;
}

.stuff label {
    margin-right: 10px;
}

p {
    margin-top: 20px;
}

.average{
    width: 50px;
}
.text-box{
    border: 3px black solid;
}
.sign-button {
    padding: 15px 30px;
    font-size: 1.3em;
    color: black;
    background-color: antiquewhite;
    border: 4px solid #ffffff;
    cursor: pointer;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    text-transform: uppercase;
    transition: 0.3s ease, color 0.3s ease;
    letter-spacing: 2px;
  }
  .sign-button:hover {
    background: black;
    color: white;
    transform: scale(1.1);
  }


  .description{
    color: #000; 
    font-family: 'Georgia', serif;
    font-size: 18px;
    line-height: 1.8;
    margin: 20px 0;
    padding: 15px;
    border-left: 3px solid #000;
    background-color: #f9f9f9; 
  }


  .scholarship-unordered-list {
    list-style-type: none;
    padding: 0;
}

.scholarship-list {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.scholarship-list:nth-child(odd) {
    background: #e9e9e9;
}

.scholarship-list:nth-child(even) {
    background: #f4f4f4;
}

.scholarship-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.scholarship-list div {
    margin-bottom: 5px;
}
